/** {
	outline: 1px solid red;
}
*/
html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

h1,h2,h3 {
	margin-top: 0;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #888;
}

.fixed-top{
   top: 0;
   left: 0;
   right: 0;
   position: fixed;
   height: 3em;
   background-color: #EEB;
   opacity: 0.95;
   z-index: 1;
}

header .title {
   font-size: 2em;
   line-height: 1.5em;
}


.content-container{
	width: 80%;
  margin: 3em auto 0px auto;
}

.article{
	width: 80%;
	margin: 5px auto;
	padding: 10px;
}


#game td{
  width: 3em;
  height: 3em;
  min-width: 3em;
  min-height: 3em;
  max-width: 3em;
  max-height: 3em;
  font-size: 2em;
  text-align: center;
  vertical-align: center;
  border: 1px solid #333;
}

.value-0 {
  background-color: #fff;
}

.value-2 {
  background-color: #fdd;
}

.value-4 {
  background-color: #fbb;
}

.value-8 {
  background-color: #f99;
}

.value-16 {
  background-color: #f77;
}

.value-32 {
  background-color: #f55;
}

.value-64 {
  background-color: #f33;
}

.value-128 {
  background-color: #f11;
}

.value-256 {
  background-color: #f00;
}

